[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
pymongo = "*"
python-dotenv = "*"
mysqlclient = "*"
python-dateutil = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
black = "*"
pre-commit = "*"
pylint-pydantic = "*"

[requires]
python_version = "3.11"

[scripts]
setup="bash scripts/setup.sh"
build="bash scripts/build.sh"
release_test="python -m twine upload --repository testpypi dist/*"
release="python -m twine upload --repository pypi dist/*"
tests = "./scripts/tests.sh"
coverage = "./scripts/coverage.sh"
